[submodule "IT2805"]
	path = IT2805
	url = https://github.com/Paalar/IT2805.git
[submodule "TDT4110"]
	path = TDT4110
	url = https://github.com/Paalar/TDT4110.git
[submodule "IT1901"]
	path = IT1901
	url = https://github.com/Paalar/IT1901.git
[submodule "IT3105"]
	path = IT3105
	url = https://github.com/Paalar/IT3105.git
[submodule "TDT4171"]
	path = TDT4171
	url = https://github.com/Paalar/TDT4171.git
[submodule "TDT4165"]
	path = TDT4165
	url = https://github.com/Paalar/TDT4165.git
[submodule "TDT4225"]
	path = TDT4225
	url = https://github.com/Paalar/TDT4225.git
[submodule "IT2810/it2810-prosjekt-1"]
	path = IT2810/it2810-prosjekt-1
	url = https://github.com/Paalar/it2810-prosjekt-1.git
[submodule "IT2810/it2810-backend-group-6-26-35"]
	path = IT2810/it2810-backend-group-6-26-35
	url = https://github.com/Paalar/it2810-backend-group-6-26-35.git
[submodule "IT2810/it2810-webutvikling-h18-prosjekt-3-35"]
	path = IT2810/it2810-webutvikling-h18-prosjekt-3-35
	url = https://github.com/Paalar/it2810-webutvikling-h18-prosjekt-3-35.git
[submodule "IT2810/it2810-webutvikling-h18-prosjekt-2-gruppe--35"]
	path = IT2810/it2810-webutvikling-h18-prosjekt-2-gruppe--35
	url = https://github.com/Paalar/it2810-webutvikling-h18-prosjekt-2-gruppe--35.git
[submodule "TDT4136"]
	path = TDT4136
	url = https://github.com/Paalar/TDT4136.git
