[submodule "IT2805"]
	path = IT2805
	url = https://github.com/Paalar/IT2805.git
[submodule "TDT4110"]
	path = TDT4110
	url = https://github.com/Paalar/TDT4110.git
[submodule "IT1901"]
	path = IT1901
	url = https://github.com/Paalar/IT1901.git
[submodule "IT3105"]
	path = IT3105
	url = https://github.com/Paalar/IT3105.git
[submodule "TDT4171"]
	path = TDT4171
	url = https://github.com/Paalar/TDT4171.git
[submodule "TDT4165"]
	path = TDT4165
	url = https://github.com/Paalar/TDT4165.git
[submodule "TDT4225"]
	path = TDT4225
	url = https://github.com/Paalar/TDT4225.git
